<div class="comic">
  {{fav-btn selected=model.isFavorite action="favorize"}}
  <form>
    <div class="comic-header">
      <div class="comic-title">
        {{input id="title" type="text" value=model.title}}
      </div>
      <div class="buttons">
        <button type="submit" {{action 'save'}} class="btn-submit"></button>
        <button type="reset" {{action 'cancel'}} class="btn-cancel"></button>
      </div>
    </div>
    {{image-cover name=model.slug}}
    <div class="comic-description">
      <label class="comic-label" for="scriptwriter">Scriptwriter</label>
      {{input id="scriptwriter" type="text" class="comic-value" value=model.scriptwriter required="required"}}
      <label class="comic-label" for="illustrator">Illustrator</label>
      {{input id="illustrator" type="text" class="comic-value" value=model.illustrator}}
      <label class="comic-label" for="publisher">Publisher</label>
      {{input id="publisher" type="text" class="comic-value" value=model.publisher}}
    </div>
  </form>
</div>