<div class="comics">
  <h2 class="comics-title">Comics list</h2>

  <div class="comics-filter">
    {{input type=text value=filter class="filter"}}
    <button {{action "sort"}} class="btn-sort {{if sortAsc "sort-asc" "sort-desc"}}"></button>
  </div>

  <ul class="comics-list">
    {{#each sortedComics as |comic|}}
      <li class="{{if comic.scriptwriter "comic-with-scriptwriter" "comic-without-scriptwriter"}} comics-list-item">
        {{#link-to "comic" comic}}
          {{comic.title}} by {{if comic.scriptwriter comic.scriptwriter "unknown scriptwriter"}}
        {{/link-to}}
      </li>
    {{else}}
      Sorry, no comic found
    {{/each}}
  </ul>

  {{link-to "" "comics.create" class="add-comic"}}

  <span class="comics-number">Number of comics: {{sortedComics.length}}</span>
</div>

{{outlet}}
